---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ==========================================================================
   Tag Inline List
   ========================================================================== */

.inline-list {
  list-style: none;
  font-size: 50%;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline;
  }
}

.entry-meta {
  text-transform: uppercase;
  color: lighten($text-color,60);
  a {
    color: lighten($text-color,60);
  }
  .vcard {
    &:before {
      content: " by ";
    }
  }
  .tag {
    display: inline-block;
    margin: 4px;
    color: #494e52;
    @include rounded(3px);
    background-color: lighten($primary-color,50);
      span {
        float: left;
        padding: 2px 6px;
      }
      .count {
          background-color: lighten($primary-color,40);
          @include border-radius(3px,3px,0,0);
      }
      &:hover {
          background-color: lighten($primary-color,40);
      }
  }
  .entry-reading-time {
    float: right;
  }
}
